catalog.xsd.bak

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="catalog">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="book" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="title" type="xsd:string"/>
			<xsd:element name="author" type="xsd:string"/>
			<xsd:element name="publisher" type="xsd:string"/>
			<xsd:element name="edition" type="xsd:int"/>
			<xsd:element name="price" type="xsd:int"/> 
			
          </xsd:sequence>
		  <xsd:attribute name="isbn" type="xsd:int" use="required"/>
		 
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
	</xsd:complexType>
  </xsd:element>
</xsd:schema>